body {
    margin: 0;
    padding: 0;
}

.mainer{
	background: black;
}

.block{
	background: #2a323b;
    display: flex;
	height: 12vh;
    border-radius: 0 0 5vh 5vh; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titletwo {
	color: #ffffff;/*#a8a8a8*/
    margin-top: auto;
    font-size: 100px;
}

.mainContainer{
	background: #161a1e;
	
	height: 250vh;
	
    border-radius: 5vh; 
    flex-direction: column;
	
	margin-left: 10vh;
	margin-right: 10vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.container {	
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title,
.description,
.contacts {
    font-family: 'Comfortaa', cursive;
    color: #383838;
}


.title span {
    color: #838383;
}

.description {
    margin-top: 8px;
    font-size: 40px;
}

.CIRCLE {
	background: white;
	
	margin-left: 10vh;
	
	height:30vh;
	width:30vh;
	
    border-radius: 100%;
}

.contacts, .contacts a {
    margin-top: auto;
    text-decoration: none;
    margin-bottom: 20px;
    color: #838383;
    font-size: 32px;
}

.percent{
    display: inline-block;
    font-size: 30px;
    border-radius: 100%;
    padding: 30px 15px;
}

